html,
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}
.header {
  padding: 28px 0;
  border-bottom: 1px solid #828282;
}

.menu {
  max-width: 496px;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

.menu__item {
  display: inline-block;
  width: calc(20% - 4px);
  text-align: center;
}

.menu__link {
  text-decoration: none;
  font-size: 18px;
  color: #828282;
}

.menu__link:hover {
  font-weight: bold;
}

.active {
  color: black;
}

.section {
  width: 100%;
  padding-bottom: 100px;
}

.section__heading {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 34px;
}

.section__heading--skills {
  margin: 0 auto 20px;
  font-size: 34px;
}

.section__text {
  margin: 0 auto 30px;
  text-align: center;
  width: 50%;
  font-weight: normal;
  font-size: 18px;
}

.section__text:last-child {
  margin-bottom: 0;
}

.section__heading--subheading {
  margin-bottom: 50px;
}

.section__content {
  margin: 0 auto;
  text-align: center;
}

.first-screen__heading {
  font-size: 48px;
  font-weight: bold;
}

.first-screen__image {
  width: 100%;
}

.card {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  width: 170px;
  height: 230px;
  margin-right: 92px;
}

.card:last-child {
  margin-right: 0px;
}

.card__image {
  height: 80px;
  display: block;
  margin: 0 auto;
}

.card__name {
  font-size: 14px;
  font-weight: bold;
  color: #828282;
  letter-spacing: 0.02em;
  width: 91px;
  text-align: center;
  margin: 25px auto 0;
}

.card__rating {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.rating__star {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.rating__star:last-child {
  margin-right: 0;
}

.portfolio {
  text-align: center;
  margin: 0 auto;
}

.portfolio__item {
  margin-top: 50px;
}

.portfolio__item-name {
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

.portfolio__item-img {
  width: 100%;
  margin-bottom: 40px;
}

.contacts {
  padding-bottom: 0;
}

.contacts__header {
  width: 280px;
  margin: 0 auto 60px;
}

.contacts__heading {
  margin-bottom: 20px;
}

.contacts__text {
  width: 100%;
}

.contacts__button {
  display: block;
  margin: 0 auto 30px;
  width: 180px;
  height: 44px;
  background-color: black;
  color: white;
  border-radius: 22px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.contacts__button:hover {
  background-color: white;
  color: black;
}

.socials {
  margin: 0 auto 60px;
  width: 310px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.socials__link {
  width: 40px;
  height: 40px;
}

.socials__icon:hover {
  opacity: 0.5;
}

.socials__text {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  color: #828282;
  font-size: 14px;
}
